# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/lambda
claude.md

# testing
/coverage


# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
out/
.env
build

# local renders
/public/renders/

#md files
GCP_SETUP.md
TEST_INSTRUCTIONS.md
UPLOAD_FLOW_SUMMARY.md
distribution-config.json
install-gcp-auth.js

test-api-route.js
test-final-flow.js
test-gcp-api-key.js
test-gcp-auth.js
test-gcp-bucket.js
test-gcp-simple.js
test-real-file.js
test-storage-api-key.js
updated-distribution-config.json
video-processing-architecture.md